anyio==3.5.0              # via starlette
asgiref==3.5.0            # via uvicorn
astral==3.2               # via -r requirements.in
click==8.0.4              # via uvicorn
fastapi==0.74.1           # via -r requirements.in
gitdb==4.0.9              # via gitpython
gitpython==3.1.27         # via -r requirements.in
h11==0.13.0               # via uvicorn
idna==3.3                 # via anyio
orgparse==0.3.1           # via -r requirements.in
pydantic==1.9.0           # via fastapi
python-dotenv==0.19.2     # via -r requirements.in
pytz==2021.3              # via -r requirements.in
smmap==5.0.0              # via gitdb
sniffio==1.2.0            # via anyio
starlette==0.17.1         # via fastapi
typing-extensions==4.1.1  # via pydantic
uvicorn==0.17.5           # via -r requirements.in
